:root {
  --big: 25vw;
  --small: 15vw;
  scroll-behavior: smooth;
}
a {
  color: black;
  text-decoration: none;
}
.Item {
  height: var(--big);
  width: var(--big);
}
.SubItem {
  height: var(--small);
  width: var(--small);
}

.ImgButton {
  height: 10vw;
}
.page {
}
body {
  margin: 0;
  font-size: 30px;
}
